html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0;
}

.common {
    position: relative;
    box-sizing: border-box;
}

.common_text {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.main {
    position: relative; 
    background-image: url("images/block1/back.png");
    background-size: 100% 100%;
    text-align: center;
    color: #FFFFFF;
}

.main_cover {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 90%;
    background-color:#1C2426B2;
    width: 100%;
    height: 100%;
}

.main_content { 
    position: relative;
    z-index: 2;
} 

.main_head {
    font-size: 1vw;
    padding: 2% 20% 5% 20%;
    display: flex;
    justify-content: space-evenly;
}

.main a {
    border-style: hidden;
    text-decoration: none;
    color: #FFFFFF;
    /* transition: 0.3s all ease-in-out; */
}

.main a:hover {
    border-style: initial;
    border-bottom: 3px solid #DBB37A;
}   

.main_phone {
    position: absolute;
    top: 4%;
    right: 3%;
}

.main_image {
    padding-top: 7%;
}

.main_text {
    font-size: 4vw;
    padding: 5vw 0vw 20vw 0vw;
    margin: 0px;
}

.block2 {
    position: relative;
    background-color: #192326;
    display: flex;
    flex-direction: row;
    padding: 3vw 0vw;
}

.block2_left {
    display: flex;
    align-items: center;
    margin: 5vw 0vw 0vh 3vw; 
}

.block2_left > img {
    width: 40vw;
}

.block2_center {
    display: inline;
}

.block2_center > img {
    width: 7vw;
    padding: 5vw 0vw 1vw 0vw;
}

.block2_right {
    padding: 0vw 3vw;
}

.block2_three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: 2vw;
    width: 30vw;
    margin-left: -3.5vw;
    font-size: 2rem;
    color: #DBB37A;
}

.block2_text > h3 {
    margin: 0px;
    padding: 2.5vw 0vw;
    font-size: 1.5vw;
    color: white;
}

.block2_text > p {
    font-size: 1.1vw;
    font-weight: 400;
    color: #DBB37A;
    margin: 0px;
}

.block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #192326;
    padding: 4vw 20vw;

}

.block4_head {
    font-size: 2.5vw;
    font-weight: 700;
    color: #DBB37A;
    padding: 0px;
    margin: 0px;
}

.block4_text {
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
}

.block5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #192326;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding: 3vw 0vw;
}

.block5 img {
    padding: 0vh 3vw 0vh 5vw;
}

.block5 ol {
    list-style: none;
    counter-reset: item;
    margin: 0px;
}

.block5 li {
    counter-increment: item;
    padding: 0.45vw 0vw;
    font-size: 1.4vw;
}

.block5 li:before {
    margin-right: 10px;
    content: counter(item);
    border-radius: 100%;
    border: 2px solid #DBB37A;
    color: #DBB37A;
    width: 2vw;
    text-align: center;
    display: inline-block;
}

.block6 {
    padding: 5vh 0vw;
    color: white;
    background-image: url(images/block6/back.png);
    background-size: 100% 100%;
}

.block6_form {
    font-size: 2.5rem;
    width: 50vw;
    margin: 0vh 5vh;
    border-radius: 20px;
    background-color: #1C2426;
}

.block6 * {
    margin: 0px; 
    margin-left: 3vw;
    padding: 1vw 0px 1.5vw 0vw;
}

.block6 input {
    width: 40vw;
    background-color: #1C2426;
    border: none;
    margin-left: 3vw;
    color: #8E8E8E;
    font-size: 1.75rem;
    border-bottom: 2px solid; 
}

.block6 input:focus {
    outline-width: 0;
}

.block6 button {
    margin-top: 3vw;
    padding: 0.3vw 0.7vw;
    border: 3px solid #DCDCDC;
    border-radius: 10px;
    color: #B0B0B0;
    background-color: #DCDCDC;
    font-size: 1.75rem;
    letter-spacing: 0.07rem;
}

.block6 button:hover {
    background-color: #63BBE2;
    border-color: #63BBE2;
    color: #FFFFFF;
}

.block7 {
    background-color: #1C2426;
    text-align: center;
    color: #DBB37A;
}

.block7 > p {
    margin: 0px;
    padding: 10vh 0vw 5vh 0vw;
    font-size: 2.5rem;
}

.block7_images {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.block7_images > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 5vh 2vw 0vh 2vw;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 20vw;
    font-size: 1.5vw;
}

.block7_images img {
    padding: 2vw 2vw 8vw 2vw;
    width: 15vw;
}

.block7 button {
    width: 12vw;
    height: 6vh;
    margin: 1vw;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #DBB37A;
}

.block7 button:focus {
    color: #FFFFFF;
    background-color: #DBB37A;
    border-color: #DBB37A;
}

.block8 {
    background-color: #1C2426; 
    text-align: center;
    position: relative;
    color: #FFFFFF; 
    font-family: 'Open Sans';
    cursor: default;
}

.block8 > div > div {
    text-align: justify;
    background-color:#192326;
    border-radius: 3%;
    padding: 1px;
    font-size: 0.9vw;
    width: 30vw;
    transition: 0.5s all;
    opacity: 0;
}

.block8 > div > img {
    width: 5vw;
}

.block8 > div > div > * {
    margin: 1vw;
}

.block8 > div > * {
    padding: 1vw;
} 

.block8_main_image {
    padding: 6vw;
    height: 40vw;
    width: 75vw;
}

.block8_icon_home {
    position: absolute;
    top: 20vw;
    left: 20vw;
}

.block8_icon_sun {
    position: absolute;
    top: 10vw;
    left: 55vw;
}  

.block8_icon_key {
    position: absolute;
    top: 27vw;
    left: 50vw;
}

.vis {
    opacity: 1 !important;
}

.block9 {
    background-color: #192326;
}

.block9_lower {
    background-image: url(images/block9/back.png);
    background-size: 100% 100%;
}

.block9 p {
    margin: 0px;
    padding-bottom: 10vh;
}