@import './css/swiper-bundle.css';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Open Sans';
}

::-webkit-scrollbar {
    width: 0;
}

.common {
    position: relative;
    box-sizing: border-box;
}

.common-text {
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.main {
    position: relative; 
    background-image: url("images/main/back.png");
    background-size: 100% 100%;
    text-align: center;
    color: #FFFFFF;
}

.main__cover {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 90%;
    background-color:#1C2426B2;
    width: 100%;
    height: 100%;
}

.main__content { 
    position: relative;
    z-index: 2;
} 

.main__head {
    font-size: 1vw;
    padding: 2% 20% 5% 20%;
    display: flex;
    justify-content: space-evenly;
}

.main a {
    border-style: hidden;
    text-decoration: none;
    color: #FFFFFF;
    /* transition: 0.3s all ease-in-out; */
}

.main a:hover {
    border-style: initial;
    border-bottom: 3px solid #DBB37A;
}   

.main__phone {
    position: absolute;
    top: 4%;
    right: 3%;
}

.main__title {
    padding-top: 7%;
}

.main__text {
    font-size: 4vw;
    padding: 5vw 0vw 20vw 0vw;
    margin: 0px;
}

.advantages {
    position: relative;
    background-color: #192326;
    display: flex;
    flex-direction: row;
    padding: 3vw 0vw;
}

.advantages__left {
    display: flex;
    align-items: center;
    margin: 5vw 0vw 0vh 3vw; 
}

.advantages__left > img {
    width: 40vw;
}

.advantages__center {
    display: inline;
}

.advantages__center > img {
    width: 7vw;
    padding: 5vw 0vw 1vw 0vw;
}

.advantages__right {
    padding: 0vw 3vw;
}

.advantages__three-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: 2vw;
    width: 30vw;
    margin-left: -3.5vw;
    font-size: 2rem;
    color: #DBB37A;
}

.advantages__text > h3 {
    margin: 0px;
    padding: 2.5vw 0vw;
    font-size: 1.5vw;
    color: white;
}

.advantages__text > p {
    font-size: 1.1vw;
    font-weight: 400;
    color: #DBB37A;
    margin: 0px;
}

/* .swiper {
    width: 600px;
    height: 300px;
} */

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #192326;
    padding: 4vw 20vw;

}

.location__title {
    font-size: 2.5vw;
    font-weight: 700;
    color: #DBB37A;
    padding: 0px;
    margin: 0px;
}

.location__text {
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
}

.nearby-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #192326;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding: 3vw 0vw;
}

.nearby-list img {
    padding: 0vh 3vw 0vh 5vw;
}

.nearby-list ol {
    list-style: none;
    counter-reset: item;
    margin: 0px;
}

.nearby-list li {
    counter-increment: item;
    padding: 0.45vw 0vw;
    font-weight: 500;
    font-size: 1.2vw;
}

.nearby-list li:before {
    margin-right: 1vw;
    content: counter(item);
    border-radius: 100%;
    border: 2px solid #DBB37A;
    color: #DBB37A;
    width: 2.2vw;
    text-align: center;
    display: inline-block;
}

.callback {
    padding: 3vw 0vw 3vw 1vw;
    color: white;
    background-image: url(images/callback/back.png);
    background-size: 100% 100%;
}

.callback__form {
    font-size: 2.5rem;
    width: 50vw;
    margin: 0vh 5vh;
    border-radius: 20px;
    background-color: #1C2426;
}

.callback * {
    margin: 0px; 
    margin-left: 3vw;
}

.callback input {
    width: 40vw;
    background-color: #1C2426;
    border: none;
    color: #8E8E8E;
    font-size: 1.75rem;
    border-bottom: 2px solid; 
    padding-bottom: 0.3vw;
}

.callback input:focus {
    outline-width: 0;
}

.callback p { 
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.callback button {
    margin-bottom: 2vw;
    margin-top: 2vw;
    padding: 0.3vw 0.7vw;
    border: 3px solid #DCDCDC;
    border-radius: 10px;
    color: #B0B0B0;
    background-color: #DCDCDC;
    font-size: 1.75rem;
    letter-spacing: 0.07rem;
}

.callback button:hover {
    background-color: #63BBE2;
    border-color: #63BBE2;
    color: #FFFFFF;
}

.layouts {
    background-color: #1C2426;
    text-align: center;
    color: #DBB37A;
}

.layouts > h2 {
    margin: 0px;
    padding: 10vh 0vw 5vh 0vw;
    font-size: 2.5rem;
}

.layouts__images {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.layouts__images > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 5vh 4vw 0vh 4vw;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 20vw;
    font-size: 1.5vw;
}

.layouts__images img {
    padding: 2vw 2vw 8vw 2vw;
    width: 15vw;
}

.layouts button {
    width: 12vw;
    height: 6vh;
    margin: 1vw 3vw 1vw 3vw;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #DBB37A;
}

.layouts button:focus {
    color: #FFFFFF;
    background-color: #DBB37A;
    border-color: #DBB37A;
}

.pop-up {
    background-color: #1C2426; 
    text-align: center;
    position: relative;
    color: #FFFFFF; 
    font-family: 'Open Sans';
    cursor: default;
    /* word-spacing: -1px; */
}

.pop-up > div > div {
    text-align: justify;
    background-color:#192326;
    border-radius: 3%;
    padding: 1px;
    font-size: 0.9vw;
    width: 30vw;
    transition: 0.5s all;
    opacity: 0;
}

.pop-up > div > img {
    width: 5vw;
}

.pop-up > div > div > * {
    margin: 1vw;
}

.pop-up > div > * {
    padding: 1vw;
} 

.pop-up__main-image {
    padding: 6vw;
    height: 40vw;
    width: 80vw;
}

.pop-up__icon-home {
    position: absolute;
    top: 20vw;
    left: 20vw;
}

.pop-up__icon-sun {
    position: absolute;
    top: 10vw;
    left: 55vw;
}  

.pop-up__icon-key {
    position: absolute;
    top: 27vw;
    left: 50vw;
}

.vis {
    opacity: 1 !important;
}

.block9 {
    background-color: #192326;
}

.block9_lower {
    background-image: url(images/block9/back.png);
    background-size: 100% 100%;
}

.block9 p {
    margin: 0px;
    padding-bottom: 10vh;
}